Package: LGT_PACKAGE_NAME
Maintainer: Francesco Abbate <francesco.bbt@gmail.com>
Version: LGT_VERSION
Architecture: LGT_ARCH
Installed-Size: LGT_INSTALLED_SIZE
Depends: libfox-1.6-0 (>= 1.6.0), libgsl23 (>= 2.3), libfreetype6 (>= 2.2.1)
Section: x11
Priority: optional
Description: GSL Shell
 GSL shell is an interactive command line interface that gives easy access to
 a collection of numeric algorithms and functions based on the GNU Scientific
 Library (GSL). GSL Shell is able to work with matrices or vectors to perform
 linear algebra operations.
 .
 It is based on the Lua JIT compiler LuaJIT2. Thanks to LuaJIT2 the scripts
 defined with GSL Shell can run to at speed comparable to optimized C code.
